.header-page-section-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 0;
  gap: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 99;
}

.header-page-section-logo img {
  max-width: 150px;
}

/* Mobile menu toggle button */
.mobile-menu-toggle {
  background-color: #627a93;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
  padding: 5px 12px;
  display: none; /* Hidden on desktop */
  cursor: pointer;
  width: 45px;
}

.header-page-section-menu-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-page-section-menu-content p {
  margin: 0;
  font-size: 17px;
  cursor: pointer;
}

.header-page-section-menu-content p:hover {
  color: #627a93;
}

.header-page-section-contact-informations {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-page-section-contact-content p {
  margin: 0;
}

.header-page-section-contact-content small {
  color: #627a93;
  font-size: 12px;
}

.header-page-section-contact-informations button {
  border-radius: 50%;
  border: none;
  background-color: #627a93;
  color: #fff;
  padding: 8px 13px;
}

.header-page-section-button button {
  border: none;
  background-color: #627a93;
  color: #fff;
  border-radius: 50px;
  padding: 25px 35px;
  font-size: 18px;
}

.header-page-section-mobile-contact-informations,
.header-page-section-mobile-button {
  display: none;
}

/* Media queries for mobile */
@media (max-width: 768px) {
  .header-page-section-container {
    justify-content: space-between;
    padding: 1rem;
  }

  .header-page-section-menu-content {
    flex-direction: column;
    gap: 3rem;
    position: absolute;
    top: 70px;
    left: -100%;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transition: left 0.5s ease;
  }

  .header-page-section-mobile-contact-informations {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .header-page-section-mobile-contact-informations button {
    border: none;
    border-radius: 50%;
    border: none;
    background-color: #627a93;
    color: #fff;
    padding: 2px 6px;
    font-size: 14px;
  }

  .header-page-section-menu-content.open {
    display: flex;
    align-items: flex-start;
    left: 0;
  }

  .header-page-section-contact-informations,
  .header-page-section-button {
    display: none;
  }

  /* Show the toggle button on mobile */
  .mobile-menu-toggle {
    display: block;
  }

  .header-page-section-mobile-button {
    display: block;
    width: 100%;
  }

  .header-page-section-mobile-button button {
    width: 100%;
    border: none;
    background-color: #627a93;
    color: #fff;
    border-radius: 50px;
    padding: 15px 0;
    font-size: 18px;
  }
}

/* You can adjust these breakpoints as necessary */
