.home-page-legal-service-section-contact-right-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-page-legal-service-section-contact-right-content-contact-information {
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-page-section-contact-informations {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home-page-section-contact-content p {
  margin: 0;
}

.home-page-section-contact-content small {
  color: #fff;
  font-size: 12px;
}

.home-page-section-contact-informations button {
  border-radius: 50%;
  border: none;
  background-color: #ffffff4d;
  color: #fff;
  padding: 8px 13px;
}

.home-page-legal-service-section-contact-right-content-button button {
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  padding: 25px 35px;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}

.home-page-legal-service-section-contact-right-content-button button:hover {
  background-color: transparent;
  color: #fff;
}

@media (max-width: 768px) {
  .home-page-legal-service-section-contact-right-content {
    flex-direction: column;
  }
  .home-page-legal-service-section-contact-right-content-button {
    width: 100%;
  }
  .home-page-legal-service-section-contact-right-content-button button {
    width: 100%;
    padding: 20px 30px;
  }
  .home-page-section-contact-informations {
    gap: 10px;
  }
  .home-page-legal-service-section-contact-right-content-contact-information{
    gap: 10px;
  }
}
